[default]
FileStorePath=./server-store
FileLogPath=./server-logs
ConnectionType=acceptor
HeartBtInt=10
ContinueInitializationOnError=Y
StartTime=00:00:00
EndTime=00:00:00
MaxMessagesInResendRequest=10000
FileLogHeartbeats=Y
FileIncludeTimeStampForMessages=Y
; RejectGarbledMessage=N
; RejectInvalidMessage=N

[session]
UseDataDictionary=N
DataDictionary=fix/FIX44.modified.xml
SenderCompID=NELOGICA
TargetCompID=ZEROMARKETS
BeginString=FIX.4.4
SocketAcceptPort=8888
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y


[session]
#传输层协议字典
TransportDataDictionary=fix/FIXT11.xml
AppDataDictionary=fix/FIX50SP2.modified.xml
BeginString=FIXT.1.1
DefaultApplVerID=9
SenderCompID=NELOGICA
TargetCompID=ZEROMARKETS
SocketAcceptPort=9999
ResetOnLogon=Y
ResetOnLogout=Y
