[default]
FileStorePath=./fileStore
FileLogPath=./logs-client
ConnectionType=initiator
HeartBtInt=30
ContinueInitializationOnError=Y
StartTime=08:05:01
EndTime=08:04:00


[session]
; UseDataDictionary=N
; DataDictionary=fix/FIX44.modified.xml
; SenderCompID=ZEROMARKETS
; TargetCompID=NELOGICA
; BeginString=FIX.4.4
; SocketConnectHost=localhost
; SocketConnectPort=8888
; ResetOnLogon=Y
; ResetOnLogout=Y
; ResetOnDisconnect=Y

[session]
#传输层协议字典
TransportDataDictionary=fix/FIXT11.xml
#应用层协议字典 如果没有指定的话 根据DefaultApplVerID指定的版本去匹配字典
AppDataDictionary=fix/FIX50SP2.modified.xml
BeginString=FIXT.1.1
#指定应用层版本协议 9=FIX50SP2 这里会告诉客户端需要用这个版本的协议解析数据
DefaultApplVerID=9
SenderCompID=ZEROMARKETS
TargetCompID=NELOGICA
SocketConnectHost=localhost
SocketConnectPort=9999
ResetOnLogon=Y
ResetOnLogout=Y
ResetOnDisconnect=Y
; ValidateSequenceNumbers=N
; ResetOnLogon=Y
; ResetOnLogout=Y
; ResetOnDisconnect=Y
; EnableNextExpectedMsgSeqNum=Y
; ResetOnLogon=Y
; SETTING_RESEND_REQUEST_CHUNK_SIZE=1000
; ResetSeqNumFlag=N
